<% title "of the publication #{@publication.title}" %>

<div>Title: <%= @publication.title %></div>
<div>URL: <%= @publication.url %></div>
<div>Journal: <%= @publication.journal %></div>
<div>Number of Annotations: <%= @publication.annotations.size %></div>